<%- include('../partials/header.ejs'); %>

<div class="container">
    <div class="container">
        <%- include('../partials/messages.ejs') -%>
        <p></p>
        <p>
            <a class="btn btn-primary btn-large" href="/cameras/newcamera">Add new camera</a>
        </p>
    </div>
    <div class="row justify-content-md-center">
        <% cameras.forEach( function(camera) { %>
        <div class="card border-primary mr-3 mb-3"
            style="min-width: 33rem; max-width: 33rem; max-height: 16rem;min-height: 16rem;">
          
            <% camera["items"].forEach(function(item){ %>
                <% if (item["name"]=="Camera ping") { %>
                    <% if (item.lastvalue == "1") { %>
                        <span class="badge badge-success">Camera is visible by the node</span>
                    <% } %>
                    <% if (item.lastvalue == "0"){%>
                        <span class="badge badge-danger">The node can not see the camera</span>
                    <% } %>
                <% } %>
            <% }); %>

            

            <div class="card-header">Camera Name: <%= camera.description %></div>
            <div class="card-body">
                <h4 class="card-title">Camera agent: <%= camera['interfaces'][0]['ip'] %></h4>
                <p class="card-text">

                    <li>Camera Input: <%= camera.name %></li>
                    <li>Camera Output: <%= camera.host %></li>
                    <div class="row ml-2">

                    </div>

                    <div class="row">
                            <div class="col-xs-6">
                                <% camera.items.forEach(function(item){ %>
                                    <% if (item.name == "isSreaming") { %>
                                        <%if (item.lastvalue) { %>
                                    
                                        <form method="POST" action="/cameras/stopstream" )>
                                            <input type="hidden" name="hostid" value=<%= camera.hostid %>>
                    
                                            <button type="submit" class="btn btn-danger">Stop Stream</button>
                                        </form>
                                        <% } else {%>
                                    
                                            <form method="POST" action="/cameras/runstream" )>
                                                <input type="hidden" name="hostid" value=<%= camera.hostid %>>
                        
                                                <button type="submit" class="btn btn-success">Start Stream</button>
                                            </form>
                                        <% } %>
                                    <% } %>
                                <% }); %>

                            </div>
                            <div class="col-xs-6">
                                <form method="POST" action="/cameras/delcamera" )>
                                    <input type="hidden" name="hostid" value=<%= camera.hostid %>>
                                    <button type="submit" class="btn btn-secondary">Delete</button>
                                </form>
                            </div>
                        </div>
                        
            </div>
            
            <% camera.items.forEach(function(item){ %>
                <% if (item.name == "isSreaming") { %>
                    <%if (item.lastvalue) { %>
                        <span class="badge badge-success">Streaming</span>
                    <% } %>
                    <% if(!item.lastvalue){%>
                        <span class="badge badge-danger">Not Streaming</span>
                    <% } %>
                <% } %>
            <% }); %>

        </div>


        <% }); %>

    </div>
</div>
